html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  height: 100%;
}

.footer {
  /* margin-top:100%; */
  /* margin-bottom: -500px; */
  position: sticky;
  bottom: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 75px 1fr 50px 50px;
  grid-gap: 5px;
  grid-auto-rows: minmax(75px, auto);
  border: 2px solid darkorange;
  padding: 4px;
  height: 75px;
  background-color: black;
}

.wrapper .image {
  width: 100%;
  height: 100%;
}

.wrapper div, img {
  /* border: 1px solid orange; */
}

.song-info {
  padding-top: 6px;
  font-size: 13px;
}

.song-title {
  color: white;
  font-weight: bold;
}

.song-artist {
  margin-top: 6px;
  color: lightgray;
}

.play-button {
  width: 100%;
  height: 100%;
  content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKkbqfdlc1Y72msCya2QXsT71oE3yGBMV8Cm1O6WC2gBRW-Q5n&s');
}

.next-button {
  margin: auto;
  width: 80%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzfX5Hj6-Bc_NPLFfNpnPt-CvnyqkYZ4pQLs_Le8YmVxj-5O4C&s');
}

@media screen and (min-width: 480px) {
  .song-info {
    font-size: 16px;
  }
}
